*{
    padding: 0;margin: 0;box-sizing: border-box;    font-family: "Poppins", sans-serif;
}
body{
    width: 100%;
    height: 200vh;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    flex-wrap: wrap;
    

}
.container{
    margin-top: 250px;
    position: relative;
    padding: 10px;
    height: 213px;
    background-color:rgb(15, 15, 15) ;
    border-radius: 30px;
    max-width: 380px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
    transition: 2s;
    &:hover{
        transform: rotateY(180deg) scaleX(-1);
    }
}
header ,.logo{
display: flex;
align-items: center;
justify-content: space-between;
}
.logo img{
    width: 48px;
    margin-left: 10px;
}
h6{
    font-size: 16px;
    font-weight: 400;
   color: #fff; 
}
header .chip{
width: 60px;
}
h4{
   color: #fff; 
   font-size: 12px;
   font-weight: 400;
}
h6.number{
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 4px;
}
h6.name{
    margin-top: 20px;
}
.container .card-detail{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
body > .footer {
    width: 100%;
    height: 200px;
    background-color: rgb(36, 33, 33);
    display: flex;
    margin-top: 150px;
  }
  body > .footer > figure {
    width: 30%;
    margin-left: 100px;
  }
  body > .footer > figure > img {
    width: 200px;
    height: 180px;
    border-radius: 70px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 10px;
  }
  body > .footer > div {
    width: 70%;
  }
  body > .footer > div > div {
    font-size: 20px;
    height: 50px;
    color: antiquewhite;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body > .footer > div > div > a {
    display: flex;
  }
  body > .footer > div > div > a:nth-of-type(1) {
    font-size: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    color: whitesmoke;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .media {
    margin-left: 80px;
  }
  .media > a {
    font-size: 30px;
    color: white;
  }
  .media > a > i {
    color: white;
    font-size: 30px;
    margin: 5px;
  }